<% @merchants.each do |merchant| %>
    <ul id="merchant-<%= merchant.id %>">
      <li><%= merchant.name %></li>
      <li><%= merchant.city %></li>
      <li><%= merchant.state %></li>
      <li><%= merchant.created_at %></li>
    </ul>
<% end %>
