<%= current_user.name %>
<%= current_user.street %>
<%= current_user.city %>
<%= current_user.state %>
<%= current_user.zip %>
<%= current_user.email %>


<% if current_default? %>
  <%= link_to 'Edit Profile', profile_edit_path %>
<% elsif current_merchant? %>
  <%= link_to 'My Items', dashboard_items_path %>
  <% @merchant_pending_orders.each do |order| %>
    <div id="pending-order-<%= order.id %>">
      <ul>
        <li><%= link_to "Order ##{order.id}", dashboard_orders_path(order) %></li>
        <li>Placed on: <%= order.created_at.strftime('%B %d, %Y') %></li>
        <li>My items in order: <%= order.merchant_items_quantity(current_user.id) %></li>
        <li>My items value: <%= number_to_currency(order.merchant_items_value(current_user.id) / 100) %></li>
      </ul>
    </div>
  <% end %>
  <%= "MERCHANT STATISTICS" %>
  <%= "Top 5 items by quantity: #{@merchant_top_five_items}" %>
  <%= "Sold #{@merchant_units_sold} items, which is #{@merchant_percent_sold}% of your total inventory" %>
  <%= "Top 3 shipment states: #{@merchant_top_states}" %>
  <%= "Top 3 shipment cities: #{@merchant_top_cities}" %>
  <%= "User with the most orders: #{@merchant_top_order_user}" %>
  <%= "User buying the most items: #{@merchant_top_units_user}" %>
  <%= "Three highest spending users: #{@merchant_highest_spending_users}" %>
<% end %>
