<div class="user">
  <%= @user.name %>
  <%= @user.street %>
  <%= @user.city %>
  <%= @user.state %>
  <%= @user.zip %>
  <%= @user.email %>

  <%= link_to 'My Items', admin_merchant_items_path(@user) %>
</div>

<div class="flex-container">
  <div class="flex-items">
    <% @merchant_pending_orders.each do |order| %>
      <div id="pending-order-<%= order.id %>">
        <ul>
          <li><%= link_to "Order ##{order.id}", dashboard_order_path(order) %></li>
          <li>Placed on: <%= order.created_at.strftime('%B %d, %Y') %></li>
          <li>My items in order: <%= order.merchant_items_quantity(current_user.id) %></li>
          <li>My items value: <%= number_to_currency(order.merchant_items_value(current_user.id) / 100) %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>