
<% @cart_items.each do |item| %>
  <% quantity = @cart.contents[item.id.to_s] %>
  <div class="cart-flex-items" id="item-<%= item.id %>">
    <%= image_tag(item.image_link, class:"thumbnails", id:"item-#{item.id}-img") %>
    <ul class="cart-item-details">
      <li class="cart-detail-li">Item: <%= item.name %></li>
      <li class="cart-detail-li">Merchant: <%= item.user.name %></li>
      <li class="cart-detail-li">Price: <%= number_to_currency(item.current_price/100) %></li>
    </ul>
    <ul class="cart-button-list">
      <li class="cart-buttons"><%= button_to "Remove item", cart_item_path(item, quantity: nil), method: :patch %></li>
      <li class="cart-buttons"><%= button_to "Add one", cart_item_path(item, quantity: 1), method: :patch %></li>
      <li class="cart-buttons"><%= button_to "Remove one", cart_item_path(item, quantity: -1), method: :patch %></li>
    </ul>
    <p>Quantity: <%= quantity %></p>
    <p>Subtotal: <%= number_to_currency(quantity * (item.current_price/100)) %></p>
  </div>
<% end  %>

<p class="item-stats">Grand Total: <%= number_to_currency(@cart.grand_total/100) %></p>
  <div class="cart-bottom">
    <% unless @cart.cart_count == 0 %>
      <%= link_to "Empty Cart", cart_path, method: :delete %>
    <% end %>

    <% unless current_user %>
      <p>You must <%= link_to 'register', registration_path %> or <%= link_to 'log in', login_path %> to checkout.</p>
    <% end %>

    <% if current_user %>
      <%= button_to "Check Out", profile_orders_path %>
    <% end %>
  </div>
