<% @cart_items.each do |item| %>
  <% quantity = @cart.contents[item.id.to_s] %>
  <div id="item-<%= item.id %>">
    <p><%= item.name %></p>
    <%= image_tag(item.image_link, class:"thumbnails", id:"item-#{item.id}-img") %>
    <p><%= item.user.name %></p>
    <p><%= number_to_currency(item.current_price/100) %></p>
    <%= button_to "Remove item", cart_item_path(item, quantity: nil), method: :patch %>
    <%= button_to "Add one", cart_item_path(item, quantity: 1), method: :patch %>
    <%= button_to "Remove one", cart_item_path(item, quantity: -1), method: :patch %>
    <p>Quantity: <%= quantity %></p>
    <p>Subtotal: <%= number_to_currency(quantity * (item.current_price/100)) %></p>
  </div>
<% end  %>
<p>Grand Total: <%= number_to_currency(@cart.grand_total/100) %></p>
  <% unless @cart.cart_count == 0 %>
    <%= link_to "Empty Cart", cart_path, method: :delete %>
  <% end %>

  <% unless current_user %>
    <p>You must <%= link_to 'register', registration_path %> or <%= link_to 'log in', login_path %> to checkout.</p>
  <% end %>

  <% if current_user %>
    <%= button_to "Check Out", profile_orders_path %>
  <% end %>
