<% @users.each do |user| %>
  <div id="user-links-<%=user.id%>">
    <ul>
      <li><%= link_to user.name, admin_user_path(user) %></li>
      <li><%= user.created_at %></li>
      <% if user.enabled %>
        <li><%= button_to 'disable', admin_user_path(user.id), method: :patch %></li>
      <% else %>
        <li><%= button_to 'enable', admin_user_path(user.id), method: :patch %></li>
      <% end %>
    </ul>
  </div>
<% end %>
