<%= @user.name %>
<%= @user.street %>
<%= @user.city %>
<%= @user.state %>
<%= @user.zip %>
<%= @user.email %>

  <%= link_to 'Edit Profile', edit_admin_user_path(@user.id)%>
  <%= link_to 'Upgrade to Merchant', admin_user_upgrade_path(@user.id), method: :patch %>

<h1> Orders </h1>
<% @orders.each do |order| %>
  <div id="order-<%=order.id%>">
    <ul>
      <li><%= link_to "Order: #{order.id} ", profile_order_path(order.id) %></li>
      <li><%= "Placed on: #{order.created_at} " %></li>
      <li><%= "Last update: #{order.updated_at} " %></li>
      <li><%= "Status: #{order.status} " %>
      <li><%= "Item count: #{order.item_quantity} " %></li>
      <li><%= "Grand total: #{number_to_currency(order.grand_total/100)} " %></li>
    </ul>
  </div>
<% end %>
