<%= current_user.name %>
<%= current_user.street %>
<%= current_user.city %>
<%= current_user.state %>
<%= current_user.zip %>
<%= current_user.email %>

<%= link_to 'Edit Profile', profile_edit_path %>

<div id="order-listing" >
  <% @orders.each do |order| %>
    <%= link_to "Order: #{order.id} ", profile_orders_path(order.id) %>
    <%= "Placed on: #{order.created_at} " %>
    <%= "Last update: #{order.updated_at} " %>
    <%= "Status: #{order.status} " %>
  <% end %>
</div>
